.mapa{
  position: absolute;
  top: 36%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: -30px -20px 0 0 rgba(0, 0, 0, .1) inset,
              -70px -30px 0 0 rgba(0, 0, 0, .1) inset,
              5px 5px 0 0 rgba(255, 255, 255, .2) inset;
  background: url(/public/planet.png); 
  background-size: cover;

  animation: tierra-girando 20s infinite linear;

}

.anillo{ 
  width: 500px;
  height: 500px;

  position: absolute;
  top: 26%;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
}

/* typing */
.typin {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 12ch;
  
  animation: typing 2s steps(30), blink .5s infinite step-end alternate;
  overflow:hidden;
  
}

  @keyFrames typing {
    
    from { width: 0}
  }

  @keyFrames blink {
    50% { border-color: transparent}
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@keyframes back-ground {
  from {
    background-position: 0%;
  }
  to {
    background-position: -200% center;
  }
}

.bg-background {
 animation: back-ground 20s linear infinite;
 background: linear-gradient(
  to right, black, #22182b, #150e1b, black
 );
 background-size: 200%;
 height: 100vh;
 overflow: hidden;
 margin: 0%;
}

/* Ventana emergente */
.ventana {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}



.contenido-ventana {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.cerrar {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
@tailwind base;
@tailwind components;
@tailwind utilities;